<!DOCTYPE html>
<html>
<head>
    <title>Lista de Estudiantes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Lista de Estudiantes</h1>
        <ul class="list-group">
            {% for estudiante in estudiantes %}
                <li class="list-group-item">{{ estudiante.nombre }} {{ estudiante.apellido }} ({{ estudiante.matricula }})</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
